body {
  background-image: url(../img/BGDashboardHorizontal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

#header {
  background-color: #666;
  padding: 40px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  background: black;
}