body {
  background-image: url(../img/BGLogin.jpg);
  background-repeat: no-repeat;
  padding: 1rem;
}

img {
  width: 350px;
  height: 250px;
  border-radius: 30px;
}

.transparencia {
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 0.5rem;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #29962A;
}

form {
  width: 300px;
  font-size: 18px;
}

input {
  border: 0;
  outline: none;
  margin: 10px;
  border-radius: 3px;
}

button {
  border: 0;
  outline: none;
  border-radius: 3px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.field {
  width: 250px;
  border: 1px solid rgb(73, 72, 72);
  padding: 5px;
}

.field:focus {
  border: 2px solid #3CC93F;
}

.btn {
  width: 150px;
  font-size: 16px;
  border-radius: 3px;
  display: inline-block;
  padding: 7px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.btn-green {
  color: white;
  background-color: #3CC93F;
}

.btn:hover {
  background-color: #37b839;
}

.btn-green:active {
  background-color: #29962A;
}

.derecha {
  float: right;
}