/*Propiedades para resetear los valores por default*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  /*Propiedades base para sticky footer*/
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  /*Propiedades base para sticky footer*/
  flex-grow: 1;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
}

.flex-item {
  flex: 0 0 100%;
}

/*Elemento perfectamente centrado con felxbox*/
.perfect-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width:576px) {
  .flex-item {
    flex: 0 0 50%;
  }
}

@media (min-width:768px) {
  .flex-item {
    flex: 0 0 33.33333333333333%;
  }
}

@media (min-width:992px) {
  .flex-item {
    flex: 0 0 25%;
  }
}

@media (min-width:1200px) {
  .flex-item {
    flex: 0 0 16.66666666666667%;
    border: solid orange 3px;
  }
}